@model ROL
@{
    ViewData["Title"] = "ROL";
    var tipo = "C";
}
<form>
    <input type="hidden" asp-for="ID_ROL" id="identificador">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Opción</label>
                <input asp-for="NOMBRE_ROL" class="form-control" type="text" placeholder="Nombre del rol" id="nombre_rol" />
            </div>
        </div>
    </div>
    <div class="col-sm-12" id="MensajeError">
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="SaveRol(`@tipo`)" id="btnGuardar">Guardar</button>
    </div>
</form>